body {
  font-family: 'Lato';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran';
  font-weight: 800 !important;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: #c4c4c4 ;
  color: #000;
}

.rounded-pill {
  border-radius: 5rem;
}

.navbar-custom {
  padding-top: 0;
  padding-bottom: 1rem;
  position: relative;
  background-color: #fff;
  
  
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  
  
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: #000;
  
}

header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  /* Intentar dejar traba de fondo ? */
  background-image: url(../img/trama_enlace2.jpg);
/*   background-color: #000; */
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  
}

.logo{
  height: 6rem;
 /*  animation: girar infinite 10s linear; */
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}

header.masthead .masthead-content .masthead-heading {
  font-size: 4rem;
}

header.masthead .masthead-content .masthead-subheading {
  font-size: 2rem;
}

/* header.masthead .bg-circle {
  z-index: 0;
  position: absolute;
  border-radius: 100%;
  
} */
/* 
header.masthead .bg-circle-1 {
  height: 90rem;
  width: 90rem;
  bottom: -55rem;
  left: -55rem;
} */

/* header.masthead .bg-circle-2 {
  height: 50rem;
  width: 50rem;
  top: -25rem;
  right: -25rem;
}

header.masthead .bg-circle-3 {
  height: 20rem;
  width: 20rem;
  bottom: -10rem;
  right: 5%;
}

header.masthead .bg-circle-4 {
  height: 30rem;
  width: 30rem;
  top: -5rem;
  right: 35%;
}
 */
@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(10rem + 55px);
    padding-bottom: 10rem;
  }
  header.masthead .masthead-content .masthead-heading {
    font-size: 6rem;
  }
  header.masthead .masthead-content .masthead-subheading {
    font-size: 4rem;
  }
}

/* .bg-primary {
  background-color: #4cc1e5 !important;
} */

.btn-primary {
  background-color: #31BCE3;
  border-color: #0AACDA;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #368cab !important;
  border-color: #26647a !important;
}

/* .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(238, 9, 121, 0.5);
}
 */


/* .btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  background-color: #cc5500 !important;
  border-color: #cc5500 !important;
}

.btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.5);
}
 */

 /* POPUP */
.overlay{
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.overlay .active{
  visibility: visible;
}

.popup{
  background: #f8f8f8;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-family: 'Catamaran';
  padding: 20px;
  text-align: center;
  width: 800px;
}

.popup p{
  text-align: justify;
}

.popup .btn-cerrar-popup{
  font-size: 16px;
  line-height: 16px;
  display: block;
  text-align: right;
  color: #BBBBBB;
  transition: .3s ease all;
}

.popup .btn-cerrar-popup:hover{
  color: #000;
}

.popup h3{
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 10px;
  /* opacity: 0; */
}

.popup h4{
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 40px;
  /* opacity: 0; */

}

